.header {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 80px;

}

.logoLink {

}

.userMenuTrigger {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 14px;
  align-items: center;
}

.userName {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.userInfoContainer {

}

.userDetails {

}

.userEmail {

}