.header {

}

.logoLink {

}

.userMenuTrigger {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 14px;
  align-items: center;
}

.userName {

}

.userInfoContainer {

}

.userDetails {

}

.userEmail {

}